# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.ruff_cache/
*.egg-info/

# Docker
Dockerfile
.dockerignore
docker-compose.yml
compose.yml

# IDE / OS specific
.vscode/
.idea/
.DS_Store
Thumbs.db
